<div class="vector-top">
  <img src="assets/icons/vector_top.svg" alt="vector_top">
</div>

<div class="container">
  <div class="logo-icon">
    <img src="assets/icons/logo_icon.svg" alt="logo_icon">
  </div>

  <div class="welcome-subtitle title title_fw700 title_fw700_fz20"
  >
    Welcome to the MediQR real time queue system!
  </div>

  <div class="welcome-title title title_fw400 title_fw400_fz16"
  >
    Please choose a reason for visiting:
  </div>

  <div
    class="dropdown"
    [class.dropdown-active]="isOpenPopover"
    (click)="openOrClosePopover()"
  >
    <input
      type="text"
      class="textBox title_fw400 title_fw400_fz16"
      readonly
      [placeholder]="reason"
    >

    <div
      *ngIf="isOpenPopover"
      class="option title_fw400 title_fw400_fz16"
    >
      <div
        class="option-label"
        *ngFor="let map of reasonsMap | keyvalue"
        (click)="onChange(map.value)"
      >
        <div>
          {{map.value}}
        </div>
      </div>
    </div>
  </div>

  <button
    class="next-button button title title_fw500 title_fw500_fz16"
    [class.active]="isReasonSelected() && !isOpenPopover"
    (click)="nextBtnClicked()"
  >
    Next
  </button>

</div>

<div class="vector-bottom">
  <img src="assets/icons/vector_bottom.svg" alt="vector_bottom">
</div>
