<div class="container">
  <div class="row">
    <div class="col">
      <div class="location">
        <div class="location__icon">
          <img src="assets/icons/location-icon.svg" alt="location-icon">
        </div>

        <div class="location__name title title_fw400 title_fw400_fz12"
        >
          Algamed in Almaty
        </div>
      </div>

      <div class="content">
        <div class="queue-text">
          <div class="last-descr title title_fw600 title_fw600_fz20"
          >
            Number of the last called visitor
          </div>

          <div class="last-number title title_fw700 title_fw700_fz98"
          >
            {{previousCalledQueueNumber}}
          </div>

          <div
            class="number-visitors title title_fw400 title_fw400_fz16"
            id="number-visitors"
          >
            <span
              *ngIf="isQueueNotEmpty"
              class="title title_fw600 title_fw600_fz16"
            >
              <span id="number-visitors-id"
              >
                {{queueCount}}
              </span>
              more person
            </span>

            <span
              *ngIf="!isQueueNotEmpty"
            >
              No one
            </span>
            in the queue
          </div>
        </div>

        <button
          (click)="callNextQueue()"
          class="call-buttons call-buttons__next button title title_fw500 title_fw500_fz16"
          [disabled]="!isQueueNotEmpty"
        >
          Call the next one
        </button>

        <button
          (click)="callByQueueNumber()"
          class="call-buttons call-buttons__number button title title_fw500 title_fw500_fz16"
          [disabled]="!isQueueNotEmpty"
        >
          Call by number
        </button>

        <button
          class="call-buttons call-buttons__remove button title title_fw500 title_fw500_fz16"
          [disabled]="!isQueueNotEmpty"
        >
          Remove visitors
        </button>

        <div
          class="codes title title_fw400 title_fw400_fz12"
        >
          Verification code: {{verificationCode}}
        </div>

      </div>
    </div>
  </div>
</div>

<mediQR-call-next-overlay
  *ngIf="isCallNext"
  [currentCalledQueueNumber]="currentCalledQueueNumber"
  (approved)="approveAndCloseDialog()"
  (canceled)="cancel()"
>
</mediQR-call-next-overlay>

<mediQR-call-by-number
  *ngIf="isCallByNumber"
  [queueNumbers]="queueNumberWithOrderIndexMap"
  (calledByNumber)="callByNumberAndCloseDialog($event)"
>
</mediQR-call-by-number>
