<body>
  <div class="vector-top">
    <img src="assets/icons/vector_top.svg" alt="vector_top">
  </div>

  <div class="page07">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="name-title title title_fw700 title_fw700_fz32">MediQR</div>
          <div class="logo-icon">
            <img src="assets/icons/logo_icon.svg" alt="logo_icon">
          </div>
          <div class="description-subtitle title title_fw400 title_fw400_fz24">automation of live queues using QR</div>
        </div>
      </div>
    </div>
  </div>

  <div class="vector-bottom">
    <img src="assets/icons/vector_bottom.svg" alt="vector_bottom">
  </div>
</body>
