<div class="overlay">
  <div class="modal">
    <div
      class="modal__close"
      (click)="clear()"
    >
      <img src="assets/icons/cross-icon.svg" alt="cross-icon">
    </div>

    <div class="modal__icon">
      <img src="assets/icons/partypopper-icon.svg" alt="partypopper-icon">
    </div>

    <div class="modal__subtitle title title_fw700 title_fw700_fz20">It's your turn!</div>

    <div class="modal__descr title title_fw400 title_fw400_fz16">No more people waiting in front of you</div>

    <div class="modal__buttons">
      <button
        class="modal__buttons_clear button title title_fw500 title_fw500_fz16"
        (click)="clear()"
      >
        Clear
      </button>
    </div>
  </div>
</div>
