<div class="container">
  <div class="row">
    <div class="col">
      <div class="location">
        <div class="location__icon">
          <img src="assets/icons/location-icon.svg" alt="location-icon">
        </div>

        <div class="location__name title title_fw400 title_fw400_fz12"
        >
          {{locationName}}
        </div>
      </div>

      <mediQR-progress-bar
        *ngIf="queueNumber !== undefined &&
               queueCount !== undefined &&
               queueCountWithoutMe !== undefined"
        [queueId]="queueId"
        [queueNumber]="queueNumber"
        [numberOfPeople]="queueCountWithoutMe"
        [isYourTurn]="isYourTurn"
      >
      </mediQR-progress-bar>


      <button
        *ngIf="!isYourTurn"
        (click)="enableNotification()"
        class="notification-button button"
      >
        Enable notification
      </button>

      <button
        *ngIf="!isYourTurn"
        class="leave-button button"
        (click)="leaveQueueAndLogout()"
      >
        Leave queue
      </button>

      <div class="codes title title_fw400 title_fw400_fz12"
      >
        Verification code: {{verificationCode}} | Queue: #{{queueCode}}
      </div>
    </div>
  </div>
</div>

<mediQR-overlay
  *ngIf="delete"
  [queueId]="queueId"
  [verificationCode]="verificationCode"
  (canceled)="cancel()"
>
</mediQR-overlay>

<mediQR-your-turn-overlay
  *ngIf="isYourTurnDialogOpen"
  [subTitle]="'It\'s your turn!'"
  [description]="'No more people waiting in front of you'"
  [buttonText]="'Clear'"
  (cleared)="clear()"
>
</mediQR-your-turn-overlay>

<mediQR-your-turn-overlay
  *ngIf="isEnableNotificationDialogOpen"
  [subTitle]="'Notification enabled!'"
  [description]="'Now all activities will be displayed through the notification'"
  [buttonText]="'Got it!'"
  (cleared)="gotIt()"
>
</mediQR-your-turn-overlay>
