<div class="container">
  <div class="row">
    <div class="col">
      <div class="location">
        <div class="location__icon">
          <img src="assets/icons/location-icon.svg" alt="location-icon">
        </div>

        <div class="location__name title title_fw400 title_fw400_fz12"
        >
          {{locationName}}
        </div>
      </div>

      <!--      todo aro add progress bar-->
      <p>{{reason}}</p>


      <button class="notification-button button"
      >
        Enable notification
      </button>

      <button class="leave-button button"
      >
        Leave queue
      </button>

      <div class="codes title title_fw400 title_fw400_fz12"
      >
        Verification code: {{verificationCode}} | Queue: #{{queue}}
      </div>
    </div>
  </div>
</div>
