<div class="overlay">
  <div class="modal">
    <div class="modal__subtitle modal__subtitle_number title title_fw700 title_fw700_fz20"
    >
      Select a visitor by number
    </div>

    <div
      class="modal__selection-area"
    >
      <div
        class="modal__selection-container modal__selection-container_number"
      >
        <div
          class="scroll-x"
          *ngFor="let map of queueNumbers | keyvalue"
        >
          <button
            class="modal__selection-item modal__selection-item_number button title title_fw700 title_fw700_fz42"
            (click)="handleButtonClick(map.key)"
            [class.selected]="isButtonSelected(map.key)"
          >
            {{map.key}}
          </button>
        </div>
      </div>
    </div>


    <div
      class="modal__buttons modal__buttons_mt14"
    >
      <button
        class="modal__buttons_call button title title_fw500 title_fw500_fz16"
        id="modal__buttons_call_id"
        (click)="callByNumber()"
        [class.active]="!!selectedButton"
        [disabled]="!!!selectedButton"
      >
        Call
      </button>
    </div>
  </div>
</div>
