<div class="vector-top">
  <img src="assets/icons/vector_top.svg" alt="vector_top">
</div>

<div class="page05">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-icon">
          <img src="assets/icons/logo_icon.svg" alt="logo_icon">
        </div>

        <div class="done-title title title_fw700 title_fw700_fz20">Done. Now it's up to you!</div>

        <div class="done">
          <div class="done-subtitle title title_fw400 title_fw400_fz16">Link to queue (for QR code):</div>

          <div class="done-subtitle title title_fw400 title_fw400_fz16">
            <a [routerLink]="['/welcome-page', verificationCode]"
            >
              {{qrLink}}
            </a>
          </div>

          <div class="done-subtitle title title_fw400 title_fw400_fz16">QR code poster:</div>

          <div class="done-subtitle title title_fw400 title_fw400_fz16">
            <a (click)="navigateToPoster()"
            >
              {{qrPoster}}
            </a>
          </div>

          <div class="done-subtitle title title_fw400 title_fw400_fz16">Queue management:</div>

          <div class="done-subtitle title title_fw400 title_fw400_fz16">
            <a [routerLink]="['/doctors-room', verificationCode]"
            >
              {{roomLink}}
            </a>
          </div>
        </div>

        <div class="copy">
          <button
            class="copy-btn button title title_fw500 title_fw500_fz16"
          >
            Copy the information
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vector-bottom">
  <img src="assets/icons/vector_bottom.svg" alt="vector_bottom">
</div>
